name: 01 - Build
on:
  push:
    branches: [develop, main]
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    tags: [ 'v*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      sha: ${{ steps.version.outputs.sha }}
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Version & SHA
        id: version
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "version=latest" >> $GITHUB_OUTPUT
          fi
          echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
      
      - name: Run build script & create dist package
        run: |
          npm run build
          npm run create-dist-package
      
      - name: Install zip
        run: sudo apt-get update -q && sudo apt-get install -y zip

      - name: Create dist.zip
        run: zip -r dist.zip dist

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: lambda-${{ steps.version.outputs.version }}-${{ steps.version.outputs.sha }}.zip
          path: dist.zip
          retention-days: 7