name: 01 - Build
on:
  push:
    tags: [ 'v*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run build script & create dist package
        run: |
          npm run build
          npm run create-dist-package
      
      - name: Install zip
        run: sudo apt-get update -q && sudo apt-get install -y zip

      - name: Create standalone-dist.zip
        run: zip -r standalone-dist.zip dist

      - name: Create or update GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            standalone-dist.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}