name: 03 - Preview Runtime Config
on:
  workflow_run:
    workflows: ["02 - Preview Deploy"]
    types: [completed]

jobs:
  runtime:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: preview

    steps:
      - name: Configure AWS (preview)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_IAM_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_IAM_SECRET }}
          aws-region: eu-central-1

      - name: Apply Preview Runtime Configuration
        run: |
          NAME="os-nextjs-standalone-automatization-dev"
          aws lambda update-function-configuration \
            --function-name $NAME \
            --environment "Variables={STAGE=preview,FEATURE_FLAG=true}"

          echo "Preview runtime configuration applied for $NAME"
