name: 03 - Production Deploy
on:
  push:
    tags: [ 'v*' ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: lambda-${{ github.ref_name }}-${{ github.sha_short }}.zip
          path: .

      - name: Configure AWS (prod)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_PROD_IAM_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_PROD_IAM_SECRET }}
          aws-region: eu-central-1

      - name: Deploy to Production
        run: |
          aws lambda update-function-code \
            --function-name os-nextjs-standalone-automatization-prod \
            --zip-file fileb://dist.zip

          aws lambda update-function-configuration \
            --function-name os-nextjs-standalone-automatization-prod \
            --timeout 30 \
            --memory-size 2048 \
            --environment Variables={STAGE=prod,VERSION=${{ github.ref_name }}}

          URL=$(aws lambda get-function-url-config --function-name os-nextjs-standalone-automatization-prod --query 'FunctionUrl' --output text)
          echo "Production URL: $URL"