name: 04 - Production Deploy
on:
  push:
    tags: [ 'v*' ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: lambda-${{ github.ref_name }}-${{ github.sha_short }}.zip
          path: .

      - name: Configure AWS (prod)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_PROD_IAM_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_PROD_IAM_SECRET }}
          aws-region: eu-central-1

      - name: Deploy to Production
        run: |
          NAME="os-nextjs-standalone-automatization-prod"
          echo "Deploying to Production: $NAME"

          aws lambda update-function-code \
            --function-name $NAME \
            --zip-file fileb://dist.zip

          aws lambda create-function-url-config \
            --function-name $NAME \
            --auth-type NONE || true

          URL=$(aws lambda get-function-url-config --function-name $NAME --query 'FunctionUrl' --output text)
          echo "URL=$URL" >> $GITHUB_ENV
