name: 04 - Cleanup PR Preview
on:
  pull_request:
    types: [closed]

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_IAM_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_IAM_SECRET }}
          aws-region: eu-central-1

      - name: Delete PR Function
        run: |
          NAME="os-nextjs-standalone-automatization-pr-${{ github.event.pull_request.number }}"
          aws lambda delete-function --function-name $NAME || true
          echo "Deleted: $NAME"